/bin/
/deps/
/rpcsrc/mount_svc.c
/rpcsrc/mount_xdr.c
/rpcsrc/nfs_prot.h
/rpcsrc/nfs_prot_clnt.c
/rpcsrc/nfs_prot_svc.c
/rpcsrc/nfs_prot_xdr.c
/rpcsrc/nfsv4_prot.h
/rpcsrc/nfsv4_prot_clnt.c
/rpcsrc/nfsv4_prot_svc.c
/rpcsrc/nfsv4_prot_xdr.c
/rpcsrc/nlm_prot.h
/rpcsrc/nlm_prot_clnt.c
/rpcsrc/nlm_prot_svc.c
/rpcsrc/nlm_prot_xdr.c
/rpcsrc/pmap_prot.h
/rpcsrc/pmap_prot_clnt.c
/rpcsrc/pmap_prot_svc.c
/rpcsrc/pmap_prot_xdr.c
/rpcsrc/mount.h
/rpcsrc/mount_clnt.c
/obj/
